<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduRe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<img id="banner" src="banner.png" alt="Banner Image"/>

  <div id="main">
  <link href="css/styles.css" rel="stylesheet" type="text/css"/>

      <nav v-bind:class="active" v-on:click.prevent>

          <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
          <a href="#" class="drivers" v-on:click="makeActive('drivers')">Drivers</a>
          <a href="#" class="cars" v-on:click="makeActive('cars')">Cars</a>
          <a href="#" class="events" v-on:click="makeActive('events')">Events</a>
          <a href="#" class="contacts" v-on:click="makeActive('contacts')">Contacts</a>
      </nav>

      <!-- <p>You chose <b>{{active}}</b></p> -->

      <template v-if="active === 'home'">
            <div id="animation">
            <h1 align="center">Welcome to the EduRe Home!</h1>
            <br>

            <title>
           iRacing Radicals
            </title>

            <article>
            <h2>Welcome!</h2>
            <p class="article-meta"><strong>Author:</strong> Andrius Sakalas, <strong>Published:</strong> 2018-10-22</p>

            <div class="image-wrapper">
               <img src="mypic.png">
               <span>Image source: EduRe website</span>
             </div>

             <p>
                This is the first website made for EduRe Simracing team. Here will be posted news and other relevant information
                regarding team and it's achievements.
             </p>
             <p>EduRe teams wish you a great day and safe racing!</p>


      </article>
            </div>
      </template>
      <template v-if="active === 'drivers'">
            <div id="animation">
            <h1>Current Roster</h1>
            <ul class="container">
    <li><img src="my.jpg" width="300" height="250" alt="" />Andrius Sakalas</li>
    <li><img src="eima.jpg" width="300" height="250" alt="" />Eimantas Sileikis</li>
  </ul></div>
      </template>
      <template v-if="active === 'cars'">
            <div id="animation">
            <h1>Cars we race</h1>
            <ul class="container">
            <li><img src="edure.png" width="540" height="280" alt=""/>GT3</li>
            <li><img src="porsche.jpg" width="540" height="280" alt=""/>Porsche Cup</li>
          </ul></div>
      </template>
      <template v-if="active === 'events'">
            <div id="animation">
            <h1>Attended Events</h1>

            <p align="left">iRacing - Petit Le Mans (10 Hour Endurance)</p>
            <p align="left">ACRL - Porsche Cup 2018 Summer</p>

            <h1>Current running Events</h1>
            </div>
      </template>
      <template v-if="active === 'contacts'">
            <div id="animation">
            <h1>You can reach us by contacting us on Email:</h1>
            <p>Email:a.sakalas2@gmail.com</p>
            </div>
      </template>


  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script>

  var demo = new Vue({
      el: '#main',
      data: {
          active: 'home'
      },
      methods: {
          makeActive: function(item){
              this.active = item;
          }
      }
  });
  </script>

</body>
</html>
