<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<img id="banner" src="mypic.png" alt="Banner Image"/>

  <div id="main">
  <link href="styles.css" rel="stylesheet"/>

      <nav v-bind:class="active" v-on:click.prevent>

          <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
          <a href="#" class="drivers" v-on:click="makeActive('drivers')">Drivers</a>
          <a href="#" class="cars" v-on:click="makeActive('cars')">Cars</a>
          <a href="#" class="events" v-on:click="makeActive('events')">Events</a>
          <a href="#" class="contacts" v-on:click="makeActive('contacts')">Contacts</a>
      </nav>

      <!-- <p>You chose <b>{{active}}</b></p> -->

      <template v-if="active === 'home'">
            <div id="animation">
            <h1 align="center">Welcome to the EduRe Home!</h1>
            <br>

            <title>
           iRacing Radicals
            </title>

            <article>
            <h2>Racing in Radicals</h2>
            <p class="article-meta"><strong>Author:</strong> Eimantas Sileikis, <strong>Published:</strong> 2018-10-17</p>

            <div class="image-wrapper">
               <img src="http://peoplecancode-public.s3.amazonaws.com/cat.jpg">
               <span>Image source: randomCat</span>
             </div>

             <p>
               Recently Eimantas Sileikis has raced in iRacing Radical league where he faced some issues. He lost control and crashed out two guys at the famous SPA circuit. Tragic accident whatsoever.
             </p>
             <p>Due to such a big crash Eimantas took a big dip in his SR(Safety Rating) which caused him to burst in anger.</p>


      </article>
            </div>
      </template>
      <template v-if="active === 'drivers'">
            <div id="animation">
            <h1>Current Roster</h1>
            <ul class="container">
    <li><img src="maxresdefault.jpg" width="300" height="250" alt="" />Andrius Sakalas</li>
    <li><img src="maxresdefault.jpg" width="300" height="250" alt="" />Eimantas Sileikis</li>
  </ul></div>
      </template>
      <template v-if="active === 'cars'">
            <div id="animation">
            <h1>Cars we race</h1>
            <p align="left">GT3</p></div>
      </template>
      <template v-if="active === 'events'">
            <div id="animation">
            <h1>Attended Events</h1>

            <p align="left">iRacing - Petit Le Mans</p>
            <p align="left">ACRL - Porsche Cup 2018 Summer</p>

            <h1>Current running Events</h1>
            </div>
      </template>
      <template v-if="active === 'contacts'">
            <div id="animation">
            <h1>How to reach us</h1>
            <p>Email:</p>
            <p>Discord:</p>
            </div>
      </template>


  </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script>

  var demo = new Vue({
      el: '#main',
      data: {
          active: 'home'
      },
      methods: {
          makeActive: function(item){
              this.active = item;
          }
      }
  });
  </script>

</body>
</html>
