<!doctype html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <img id="banner" src="mypic.png" alt="Banner Image"/>


  <div class="flex" id="buttons">
    <link href="styles.css" rel="stylesheet"/>
      <a
      v-for="tab in tabs"
      v-bind:key="tab.name"
      v-bind:class="['bttn', { active: currentTab.name === tab.name }]"
      v-on:click="currentTab = tab"
      >{{ tab.name }}</a>
    </div>

  <div class="container">
  <component
    v-bind:is="currentTab.component"
    class="defaultTextBox"
  ></component>

  <div class="defaultTextBox">sasda</div>
  
</div>


<!-- <div id="dynamic-component-demo" class="demo">
  <button
    v-for="tab in tabs"
    v-bind:key="tab"
    v-bind:class="['tab-button', { active: currentTab === tab }]"
    v-on:click="currentTab = tab"
  >{{ tab }}</button>

  <component
    v-bind:is="currentTabComponent"
    class="tab"
  ></component> -->

</div>

  <script>
var tabs = [
  {
    name: 'Home',
    component: {
      template: '<div>Home component</div>'
    }
  },
  {
    name: 'Drivers',
    component: {
      template: '<div>Drivers component</div>'
    }
  },
  {
    name: 'Cars',
    component: {
      template: '<div>Cars component</div>',
    }
  },
  {
    name: 'Events',
    component: {
      template: '<div>Events component</div>',
    }
  },
  {
    name: 'About Team',
    component: {
      template: '<div>About Team component</div>',
    }
  }
]

new Vue({
  el: '#buttons',
  data: {
  	tabs: tabs,
    currentTab: tabs[0]
  }
})

  </script>

</body>
</html>
